/* FONTS  */
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Medium.woff2") format("woff2"),
        url("../fonts/DMSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Regular.woff2") format("woff2"),
        url("../fonts/DMSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-font: "DM Sans", "Montserrat", "Arial", sans-serif;
    --font-family: "Montserrat", "Arial", sans-serif;
    --green: #154444;
    --accent-color: #244D4D;
    --color: #444444;
    --heading-color: #242424;
    --text-color: #383738;
    --color-ops: #919090;
    --color-opc: #808080;
    ;

}



/* GLOBAL  */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dashed var(--green);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* AUTOFILL-STYLES  */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
} */


/* VISUALLY-HIDDEN  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* BUTTON  */
.btn {
    padding: 15px 28px;
}

.btn-white {
    background-color: #fff;
    color: var(--green);
}


/* MAIN-CONTENT  */
.main-content {
    flex-grow: 1;
}


/* HEADER  */
.site-header {
    padding-top: 45px;
    padding-bottom: 30px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-link {
    display: flex;
}

.header-logo-link:hover {
    opacity: 0.8;
}

.header-logo-link:active {
    opacity: 0.6;
}


/* SITENAV  */
.sitenav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 50px;
}

.sitenav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #161616;
    padding-bottom: 10px;
}

.sitenav-link:hover {
    color: var(--green);
    border-bottom: 2px solid var(--accent-color);
}

.img-wrapper {
    display: flex;
}

.img-search {
    width: 21px;
    height: 21px;
    object-fit: cover;
    margin-right: 32px;
}

.img-menu {
    width: 24px;
    height: 16px;
    object-fit: cover;
}


/* HERO  */
.hero {
    padding-top: 30px;
    padding-bottom: 70px;
}

.hero-container {
    display: flex;
}

.hero-img {
    width: 410px;
    height: 560px;
    object-fit: contain;
}

.hero-content {
    padding: 100px;
    background-color: var(--green);
    color: #fff;
}

.hero-heading {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}


/* PROMO  */
.promo {
    padding-top: 70px;
    padding-bottom: 70px;
}

.promo-container {
    display: flex;
    flex-direction: column;
}

.promo-heading {
    margin-top: 0;
    margin-bottom: 47px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: var(--accent-color);
    text-align: center;
}

.img-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo-link:not(:last-child) {
    margin-right: 100px;
}

.promo-img {
    object-fit: cover;
}


/* ABOUT  */
.about {
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-container {
    display: flex;
}

.about-img-big {
    width: 596px;
    height: 577px;
    margin-right: 100px;
    box-shadow: 30px 30px 5px 0px #dee4E2;
    ;
}

.about-content {
    padding-top: 50px;
}

.about-heading {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--accent-color);
}

.about-text {
    font-family: var(--accent-font);
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--color);
}

.about-wrap {
    display: flex;
    align-items: start;
    margin-bottom: 30px;
}

.about-img {
    margin-right: 32px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--accent-color);
}

.card-info {
    font-family: var(--accent-font);
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--text-color);
}


/* FOOTER  */
.site-footer {
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #305F64;
    color: #fff;
}

.site-footer *:focus {
    outline: 2px dashed #fff;
    outline-offset: 3px;
}


/* FOOTER-TOP  */
.footer-top {
    display: flex;
    justify-content: space-between;
}


/* LOGO-WRAPPER  */
.logo-wrappper {
    margin-bottom: 40px;
}

.footer-logo-link:hover {
    opacity: 0.8;
}

.footer-logo-link:active {
    opacity: 0.6;
}

.footer-logo-img {
    display: flex;
    margin-top: 0;
    margin-bottom: 24px;
}

.footer-text {
    min-width: 300px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 150px;
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.footer-inner {
    margin-bottom: 40px;
}

.footer-title {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}


/* ICON-WRAP  */
.icon-wrap {
    display: flex;
}

.icon-link {
    display: flex;
    margin-right: 15px;
}

.icon {
    width: 20px;
    height: 20px;
}


/* LIST-INNER  */
.list-inner {
    display: flex;
    margin-left: auto;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 100px;
}

.footer-list-title {
    font-family: var(--font-famliy);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.footer-item {
    margin-bottom: 16px;
}

.footer-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}

.footer-link:hover {
    color: rgba(198, 207, 94, 0.99);
}


/* SUBSCRIBE  */
.subscribe-wrap {
    max-width: 250px;
}

.subscribe-title {
    margin-bottom: 24px;
    font-family: var(--font-famliy);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.subscribe-info {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.subscribe-input {
    padding: 14px 22px;
}

.subscribe-input::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: red;
}


/* FOOTER-BOTTOM  */
.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-color: #407980;
}

.input {
    padding: 14px 22px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.input-img {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

.inputcha {
    display: inline-block;
    border: none;
    width: 180px;
}
























@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}